<div class="page_navigation"
<ul>
  <li><a href="{{ routes.account_url }}">注文履歴</a></li>
  <li><a href="{{ routes.root_url }}/apps/subscription/bundler?b=19eec2f0-6f06-4690-b5cf-9e7af50b8c12">定期購買</a></li>
  <li><a href="{{ routes.account_addresses_url }}">登録者情報</a></li>
</ul>


apps/subscription/bundler?b=19eec2f0-6f06-4690-b5cf-9e7af50b8c12