<nav class="page-menu">
  <ul class="list-menu">
    <li><a href="{{ routes.account_url }}">注文履歴</a></li>
    <li><a href="/account?hbSubscriptionPath=/">定期購買</a></li>
    <li><a href="{{ routes.account_addresses_url }}">登録者情報</a></li>
  </ul>
</nav>