{{ 'section-footer-lp-online-lesson.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <div class="footer-content container">
    <div class="footer__logo">
      <img src="{{ 'lp-roasting-lesson__logo-black.webp' | asset_url }}">
    </div>
    <ul class="footer__menu">
      <li>
        <a href="#about">
          焙煎教室
        </a>
      </li>
      <li>
        <a href="#course">
          講座内容
        </a>
      </li>
      <li>
        <a href="#roast-school-form">
          お申込み
        </a>
      </li>
      <li>
        <a href="#cost">
          費用・開催日
        </a>
      </li>
      <li>
        <a href="#voice">
          お客様の声
        </a>
      </li>
      <li>
        <a href="#access">
          店舗情報
        </a>
      </li>
    </ul>
    <div class="footer__copyright">
      &copy; 2024 A day in the coffee.
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "フッター【LP】",
  "presets": [
    {
      "name": "フッター【LP】"
    }
  ]
}
{% endschema %}
