{{ 'lp-roasting-lesson__firstview.css' | asset_url | stylesheet_tag }}

<section class="firstview">
  <div class="firstview__image">
    <img src="https://placehold.jp/383838/ffffff/1980x980.png?text=dummy">
  </div>
  <div class="firstview__cta">
    <a href="" target="_brank">
      <img src="https://placehold.jp/383838/ffffff/750x380.png?text=dummy">
    </a>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 FV",
  "presets": [
    {
      "name": "【LP】焙煎講座 FV"
    }
  ]
}
{% endschema %}
