{{ 'lp-roasting-lesson__firstview.css' | asset_url | stylesheet_tag }}

<section class="firstview">
  <div class="firstview__image">
    <img src="{{ 'lp-roasting-lesson__firstview-image01.jpg' | asset_url }}" alt="焙煎教室メインビジュアル">
  </div>
  <div class="firstview__cta">
    <a href="" target="_brank">
      <img src="{{ 'lp-roasting-lesson__firstview-banner.png' | asset_url }}" alt="参加申し込み">
    </a>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 FV",
  "presets": [
    {
      "name": "【LP】焙煎講座 FV"
    }
  ]
}
{% endschema %}
