{{ 'lp-roasting-lesson__course-content.css' | asset_url | stylesheet_tag }}

<section id="course" class="course">
  <div class="course-content container">
    <div class="course-content__image">
      <img src="{{ 'lp-roasting-lesson__cource-image01.webp' | asset_url }}">
    </div>
    <div class="course-content__text course-content-text">
      <h2 class="common-heading01">
        <div class="common-heading01__text01">Cource Content</div>
        <div class="common-heading01__text02">講座内容</div>
      </h2>
      <ol class="course-content-text__list course-content-list">
        <li>
          コーヒー豆<br>
          について
        </li>
        <li>
          コーヒー<br>
          焙煎とは
        </li>
        <li>
          焙煎機の<br>
          構造
        </li>
        <li>
          焙煎実習<br>
          及び実演
        </li>
        <li>
          コーヒー<br>
          の抽出
        </li>
        <li>
          最終<br>
          チェック
        </li>
      </ol>
      <div class="course-content-text__credentials course-content-credentials">
        <img src="{{ 'lp-roasting-lesson__cource-credentials.webp' | asset_url }}">
        <p>講座内容は、参加者や情勢により変更になることがあります。</p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 コースコンテンツ",
  "presets": [
    {
      "name": "【LP】焙煎講座 コースコンテンツ"
    }
  ]
}
{% endschema %}
