{{ 'lp-roasting-lesson__about.css' | asset_url | stylesheet_tag }}

<section class="about">
  <div class="about__overview about-overview container">
    <div class="about-overview__image">
      <img src="https://placehold.jp/383838/ffffff/800x480.png?text=dummy">
    </div>
    <div class="about-overview__text">
      <h2 class="common-heading01">
        <div class="common-heading01__text01">About</div>
        <div class="common-heading01__text02">焙煎教室って？</div>
      </h2>
      <ul class="about-overview-text">
        <li>
          「自家焙煎に興味があるが<br>
          なんだか難しそう」
        </li>
        <li>
          「どこかに弟子入りしないと<br>
          焙煎はマスターできない」
        </li>
        <li>
          「焙煎を学ぶには<br>
          時間も費用もたくさんかかりそう」
        </li>
      </ul>
    </div>
  </div>
  <div class="about__detail about-detail container">
    <div class="about-detail__text">
      <p>
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      </p>
      <p>
        テキストテキストテキストテキストテ<span>テキストテキストテキスト</span
        >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      </p>
    </div>
    <div class="about-detail__image">
      <img src="https://placehold.jp/383838/ffffff/400x500.png?text=dummy">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 焙煎教室とは",
  "presets": [
    {
      "name": "【LP】焙煎講座 焙煎教室とは"
    }
  ]
}
{% endschema %}
