{{ 'lp-roasting-lesson__instructor.css' | asset_url | stylesheet_tag }}

<section class="instructor">
  <div class="instructor-content container">
    <h2 class="instructor-content__heading instructor-content-heading">
      <div class="instructor-content-heading__label">代表講師</div>
      <div class="common-heading01">
        <div class="common-heading01__text01">Nobuhiro Yuge</div>
        <div class="common-heading01__text02">弓削 <span class="decoration">伸</span>弘</div>
      </div>
    </h2>
    <div class="instructor-content__text instructor-content-text">
      <div class="instructor-content-text__detail">
        <p>1974年鹿児島県生まれ。<br>
          大学院卒業後、IT業界および飲食業界にて経験をつみ、<br class="br-over-tablet">34歳で渋谷にカフェを出店（飲食事業部部長として従事）。<br>
          以後、36歳で独立しwebシステム受託開発会社を開業。<br>
          2016年に改めて開業した会社で飲食事業も開始し、<br class="br-over-tablet">IT系の業務とコーヒー関連の業務を行う会社の経営を行う。<br>
          活動の目的は、一番美味しい状態の焙煎にこだわって提供すること。
        </p>
      </div>
    </div>
    <div class="instructor-content__image">
      <img src="{{ 'lp-roasting-lesson__instructor-image01.webp' | asset_url }}">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 講師",
  "presets": [
    {
      "name": "【LP】焙煎講座 講師"
    }
  ]
}
{% endschema %}
