{{ 'lp-roasting-lesson__faq.css' | asset_url | stylesheet_tag }}
{{ 'lp-roasting-lesson__faq.js' | asset_url | script_tag }}

<section class="faq">
  <div class="faq-content container">
    <h2 class="common-heading01">
      <div class="common-heading01__text01">FAQ</div>
      <div class="common-heading01__text02">よくある質問</div>
    </h2>
    <div class="faq-list">
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. 焙煎経験がなくても参加できますか？
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>誰でも経験がなくても焙煎はスタートできます。お気軽にご参加ください。</p>
        </dd>
      </dl>
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. コーヒーの抽出も習うことができますか？
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>講座の中で、コーヒー抽出についてもしっかりと解説いたします。</p>
        </dd>
      </dl>
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. 何か準備するもの、ことはありますか？
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>使用する資料や機器類は全てこちらで準備いたしますので、特にご準備いただくものはございません。</p>
        </dd>
      </dl>
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. 複数名での受講も可能ですか？
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>少人数での開催を行っておりますが、グループ単位（企業単位）での開催も可能です。お気軽に相談ください。</p>
        </dd>
      </dl>
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. 支払い方法どのようになりますか？
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>事前にカード決済いただくか、当日現金にてお支払いをお願いいたします。</p>
        </dd>
      </dl>
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. どのような焙煎機を使用しますか？
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>焙煎教室では、フジロイヤルの1kg窯（直火型）を使用いたします。</p>
        </dd>
      </dl>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 FAQ",
  "presets": [
    {
      "name": "【LP】焙煎講座 FAQ"
    }
  ]
}
{% endschema %}
