{{ 'lp-roasting-lesson__access.css' | asset_url | stylesheet_tag }}

<section id="access" class="access">
  <div class="access-content container">
    <h2 class="common-heading01">
      <div class="common-heading01__text01">Access</div>
      <div class="common-heading01__text02">開催場所</div>
    </h2>
    <div class="access-content__detail access-detail">
      <div class="access-detail__image">
        <img src="{{ 'lp-roasting-lesson__access-image02.webp' | asset_url }}">
      </div>
      <div class="access-detail__address">
        <h3>
          A day in the coffee 焙煎室
        </h3>
        <address>
          〒156-0053<br>東京都世田谷区桜３丁目８−１２ エクセルビア桜 101
        </address>
      </div>
      <div class="access-detail__description">
        <p>東京都世田谷区に焙煎室を構え、【JBS】ジャパン・バリスタ・サプライの公式認定講座機関として、焙煎教室を開催する他、コーヒー豆の販売やテイクアウトでのコーヒー提供を行っています。</p>
        <p>また、カフェやレストラン、企業へのコーヒー豆の卸販売や、焙煎機やエスプレッソマシーンの卸販売やメンテナンス事業も提供しています。</p>
      </div>
    </div>

    <div class="access-content__gmap access-gmap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1575.099463254402!2d139.6351540486925!3d35.63988551009013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f31ee4228293%3A0x4599999cf7f2eff5!2sA%20day%20in%20the%20coffee!5e0!3m2!1sja!2sjp!4v1734683346869!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="access-content__nearestStation access-nearestStation">
      <ul class="nearestStation-list">
        <li class="nearestStation-list__item">
          <h3>渋谷駅からお越しの場合</h3>
          <ul>
            <li>渋谷駅からバス（渋22） 用賀駅行き（18駅／31分） 農大一高前下車</li>
            <li>田園都市線 各停 中央林間行き（4駅／11分） 桜新町駅より徒歩22分</li>
          </ul>
        </li>
        <li class="nearestStation-list__item">
          <h3>三軒茶屋駅からお越しの場合</h3>
          <ul>
            <li>三軒茶屋駅からバス(渋24) 成城学園前駅西口行行き（10駅／16分） 農大一高前下車
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="access-content__button access-button">
      <a href="#roast-school-form" class="common-button01">お申し込み</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 アクセス",
  "presets": [
    {
      "name": "【LP】焙煎講座 アクセス"
    }
  ]
}
{% endschema %}
