{{ 'lp-roasting-lesson__timetable.css' | asset_url | stylesheet_tag }}

<section class="timetable">
  <div class="timetable-content container">
    <h2 class="common-heading01">
      <div class="common-heading01__text01">Timetable</div>
      <div class="common-heading01__text02">タイムテーブル</div>
    </h2>
    <ol class="timetable-list">
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">座学</h3>
        <div class="timetable-list-item__content">
          <p>
            資料とともにコーヒーの文化や焙煎の特徴や器具についてを紹介。
          </p>
          <ol>
            <li>①コーヒー豆について</li>
            <li>②コーヒー焙煎について</li>
            <li>③焙煎機の構造について</li>
          </ol>
        </div>
      </li>
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">実演</h3>
        <div class="timetable-list-item__content">
          <p>
            焙煎のお手本を見せながら、焙煎のポイントを説明。
          </p>
          <ol>
            <li>④コーヒー焙煎実習</li>
          </ol>
        </div>
      </li>
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">実践</h3>
        <div class="timetable-list-item__content">
          <p>
            実際に各参加者で、焙煎機を使って、焙煎します。時間と色や膨らみ方を確認しながら焙煎し、習得しましょう。
          </p>
        </div>
      </li>
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">試飲</h3>
        <div class="timetable-list-item__content">
          <p>
            実際に焙煎したコーヒーをドリップして、味の確認を行います。
          </p>
          <ol>
            <li>⑤コーヒーの抽出について</li>
          </ol>
        </div>
      </li>
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">最終チェック</h3>
        <div class="timetable-list-item__content">
          <p>
            学んだ内容をもとに、最終チェックを行います。全て完了すれば、あなたも焙煎を習得できます。
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 タイムテーブル",
  "presets": [
    {
      "name": "【LP】焙煎講座 タイムテーブル"
    }
  ]
}
{% endschema %}
