{{ 'lp-roasting-lesson__firstview.css' | asset_url | stylesheet_tag }}

<div>
  <h2>テスト</h2>
</div>

{% schema %}
{
  "name": "【LP】焙煎講座 FV",
  "presets": [
    {
      "name": "【LP】焙煎講座 FV"
    }
  ]
}
{% endschema %}
