{{ 'lp-roasting-lesson__cost.css' | asset_url | stylesheet_tag }}

<section class="cost">
  <div class="cost-content container">
    <h2 class="common-heading01">
      <div class="common-heading01__text01">Course</div>
      <div class="common-heading01__text02">
        費用<br class="pc">および<br>開催日
      </div>
    </h2>
    <div class="cost-content__schedule">
      <dl class="schedule-list">
        <dt>曜日</dt>
        <dd>
          <p>毎週火・水曜日開催</p>
        </dd>
      </dl>
      <dl class="schedule-list">
        <dt>時間</dt>
        <dd>
          <p>開催時間　11時～18時</p>
        </dd>
      </dl>
      <dl class="schedule-list">
        <dt>費用</dt>
        <dd>
          <p>120,000円（税込）</p>
          <div class="attention">
            <p>※クレジット決済（別途手数料がかかります）</p>
            <p>※分割支払いもご相談ください</p>
          </div>
        </dd>
      </dl>
      <dl class="schedule-list">
        <dt>定員</dt>
        <dd>
          <p>〇名</p>
        </dd>
      </dl>
      <dl class="schedule-list">
        <dt></dt>
        <dd>
          <p>上記費用に含まれるもの</p>
          <ul>
            <li>焙煎講座テキスト</li>
            <li>焙煎豆生豆6kg（焙煎豆にして4.8kg）</li>
            <li>昼食代</li>
            <li>修了証</li>
            <li>習得する焙煎・抽出技術</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 費用・日時",
  "presets": [
    {
      "name": "【LP】焙煎講座 費用・日時"
    }
  ]
}
{% endschema %}
