{{ 'lp-roasting-lesson__instructor.css' | asset_url | stylesheet_tag }}

<section class="instructor">
  <div class="instructor-content container">
    <h2 class="instructor-content__heading instructor-content-heading">
      <div class="instructor-content-heading__label">代表講師</div>
      <div class="common-heading01">
        <div class="common-heading01__text01">Nobuhiro Yuge</div>
        <div class="common-heading01__text02">弓削 伸弘</div>
      </div>
    </h2>
    <div class="instructor-content__text instructor-content-text">
      <div class="instructor-content-text__detail">
        <p>テキストテキストテキストテキストテキスト</p>
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <p>テキストテキストテキストテキストテキスト</p>
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>
    <div class="instructor-content__image">
      <img src="{{ 'lp-roasting-lesson__instructor-image01.webp' | asset_url }}">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 講師",
  "presets": [
    {
      "name": "【LP】焙煎講座 講師"
    }
  ]
}
{% endschema %}
