{{ 'lp-roasting-lesson__voice.css' | asset_url | stylesheet_tag }}

<section class="voice">
  <div class="voice-content container">
    <h2 class="common-heading01">
      <div class="common-heading01__text01">Voice</div>
      <div class="common-heading01__text02">お客様の声</div>
    </h2>
    <ul class="voice-list">
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="https://placehold.jp/383838/ffffff/1000x1000.png?text=dummy">
        </div>
        <div class="voice-list-item__content">
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>40代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>女性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="https://placehold.jp/383838/ffffff/1000x1000.png?text=dummy">
        </div>
        <div class="voice-list-item__content">
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>40代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>女性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="https://placehold.jp/383838/ffffff/1000x1000.png?text=dummy">
        </div>
        <div class="voice-list-item__content">
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>40代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>女性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="https://placehold.jp/383838/ffffff/1000x1000.png?text=dummy">
        </div>
        <div class="voice-list-item__content">
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>40代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>女性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="https://placehold.jp/383838/ffffff/1000x1000.png?text=dummy">
        </div>
        <div class="voice-list-item__content">
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>40代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>女性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="https://placehold.jp/383838/ffffff/1000x1000.png?text=dummy">
        </div>
        <div class="voice-list-item__content">
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>40代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>女性</dd>
          </dl>
        </div>
      </li>
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 お客様の声",
  "presets": [
    {
      "name": "【LP】焙煎講座 お客様の声"
    }
  ]
}
{% endschema %}
