{{ 'lp-roasting-lesson__timetable.css' | asset_url | stylesheet_tag }}

<section class="timetable">
  <div class="timetable-content container">
    <h2 class="common-heading01">
      <div class="common-heading01__text01">Timetable</div>
      <div class="common-heading01__text02">タイムテーブル</div>
    </h2>
    <ol class="timetable-list">
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">座学</h3>
        <div class="timetable-list-item__content">
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <ol>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
          </ol>
        </div>
      </li>
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">実演</h3>
        <div class="timetable-list-item__content">
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <ol>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
          </ol>
        </div>
      </li>
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">実践</h3>
        <div class="timetable-list-item__content">
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <ol>
            <li>①テキストテキストテキストテキスト</li>
            <li>②テキストテキストテキストテキスト</li>
            <li>③テキストテキストテキストテキスト</li>
          </ol>
        </div>
      </li>
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">試飲</h3>
        <div class="timetable-list-item__content">
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <ol>
            <li>①テキストテキストテキストテキスト</li>
            <li>②テキストテキストテキストテキスト</li>
            <li>③テキストテキストテキストテキスト</li>
          </ol>
        </div>
      </li>
      <li class="timetable-list__item timetable-list-item">
        <h3 class="timetable-list-item__heading">最終チェック</h3>
        <div class="timetable-list-item__content">
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <ol>
            <li>①テキストテキストテキストテキスト</li>
            <li>②テキストテキストテキストテキスト</li>
            <li>③テキストテキストテキストテキスト</li>
          </ol>
        </div>
      </li>
    </ol>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 タイムテーブル",
  "presets": [
    {
      "name": "【LP】焙煎講座 タイムテーブル"
    }
  ]
}
{% endschema %}
