{{ 'lp-roasting-lesson__faq.css' | asset_url | stylesheet_tag }}
{{ 'lp-roasting-lesson__faq.js' | asset_url | script_tag }}

<section class="faq">
  <div class="faq-content container">
    <h2 class="common-heading01">
      <div class="common-heading01__text01">FAQ</div>
      <div class="common-heading01__text02">よくある質問</div>
    </h2>
    <div class="faq-list">
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. サンプルテキスト
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>サンプルテキスト</p>
        </dd>
      </dl>
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. サンプルテキスト
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>サンプルテキスト</p>
        </dd>
      </dl>
      <dl class="faq-list__item faq-list-item active">
        <dt>
          Q. サンプルテキスト
          <div class="faq-list-item__arrow"></div>
        </dt>
        <dd>
          <p>サンプルテキスト</p>
        </dd>
      </dl>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 FAQ",
  "presets": [
    {
      "name": "【LP】焙煎講座 FAQ"
    }
  ]
}
{% endschema %}
