{{ 'lp-roasting-lesson__about.css' | asset_url | stylesheet_tag }}

<section class="about">
  <div class="about__overview about-overview container">
    <div class="about-overview__image">
      <img src="{{ 'lp-roasting-lesson__about-image01.webp' | asset_url }}">
    </div>
    <div class="about-overview__text">
      <h2 class="common-heading01">
        <div class="common-heading01__text01">About</div>
        <div class="common-heading01__text02">焙煎教室って？</div>
      </h2>
      <ul class="about-overview-text">
        <li>
          <div class="line01">「自家焙煎に興味があるが</div>
          <div class="line02">なんだか難しそう」</div>
        </li>
        <li>
          <div class="line01">「どこかに弟子入りしないと</div>
          <div class="line02">焙煎はマスターできない」</div>
        </li>
        <li>
          <div class="line01">「焙煎を学ぶには</div>
          <div class="line02">時間も費用もたくさんかかりそう」</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about__detail about-detail container">
    <div class="about-detail__text">
      <p>
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      </p>
      <p>
        テキストテキストテキストテキストテ<span>テキストテキストテキスト</span>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      </p>
    </div>
    <div class="about-detail__image">
      <img src="{{ 'lp-roasting-lesson__about-image02.webp' | asset_url }}">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 焙煎教室とは",
  "presets": [
    {
      "name": "【LP】焙煎講座 焙煎教室とは"
    }
  ]
}
{% endschema %}
