{{ 'lp-roasting-lesson__about.css' | asset_url | stylesheet_tag }}

<section id="about" class="about">
  <div class="about__overview about-overview container">
    <div class="about-overview__image">
      <img src="{{ 'lp-roasting-lesson__about-image01.webp' | asset_url }}">
    </div>
    <div class="about-overview__text">
      <h2 class="common-heading01">
        <div class="common-heading01__text01">About</div>
        <div class="common-heading01__text02">焙煎教室<span>って？</span></div>
      </h2>
      <ul class="about-overview-text">
        <li>
          <div class="line01">「自家焙煎に興味があるが</div>
          <div class="line02">なんだか難しそう」</div>
        </li>
        <li>
          <div class="line01">「どこかに弟子入りしないと</div>
          <div class="line02">焙煎はマスターできない」</div>
        </li>
        <li>
          <div class="line01">「焙煎を学ぶには</div>
          <div class="line02">時間も費用もたくさんかかりそう」</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about__detail about-detail container">
    <div class="about-detail__text">
      <p>
        日本では、焙煎が専門的な技術としてのイメージがとても高いのが現状です。しかし、焙煎は特殊な技術ではなく、誰もが料理ができるように非常に再現性が高く、正しい焙煎の仕方を理解できれば、経験が「０」の人でも出来る作業です。何年も修行をして身につけるような、職人技が必要な技術ではありません。
      </p>
      <p>
        A day in the coffeeの焙煎教室は、<span>たった1日で</span>完結します。<br>
        焙煎をするために必要な知識と技術を1日で習得することができる講座となっています。まったく知識がなくても、自家焙煎をしたい、カフェを開業したい方に最適な内容です。
      </p>
    </div>
    <div class="about-detail__image">
      <img src="{{ 'lp-roasting-lesson__about-image02.webp' | asset_url }}">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 焙煎教室とは",
  "presets": [
    {
      "name": "【LP】焙煎講座 焙煎教室とは"
    }
  ]
}
{% endschema %}
