{% assign section_heading = section.settings.section_heading %}
{% assign section_sub_heading = section.settings.section_sub_heading %}

{% if request.path contains '/blogs/coffee-journal' %}
  {% assign section_heading = 'お知らせ' %}
  {% assign section_sub_heading = blog.handle %}
{% endif %}


<div class="section-heading-wrapper section-container content-header page-width{% if section.settings.change_box_layout !=blank %} type-reverse{% endif %}">
  {% if section_heading != blank %}
    <div class="heading__item">
      <h1
        class="heading type-vertical{% if section.settings.heading_size !="default" %} size-{{ section.settings.heading_size }} {% endif %}"
        data-sub_heading="{{ section_sub_heading | capitalize }}"
      >
        {{ section_heading }}
      </h1>
    </div>
  {% endif %}
  {%- if section.settings.image != blank -%}
    <div class="content__item section-image">
      <div class="section__media media">
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            loading: 'lazy',
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: widths
        }}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "コンテンツヘッダー",
  "tag": "section",
  "class": "section section-page-header",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "見出し"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "xl",
          "label": "最大"
        }
      ],
      "default": "l",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "text",
      "id": "section_sub_heading",
      "label": "見出し（英語）"
    },
    {
      "type": "checkbox",
      "id": "change_box_layout",
      "default": false,
      "label": "レイアウトを左右入れ替える"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.featured-collection.settings.show_description.label",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "ヘッダー画像"
    }
  ],
  "presets": [
    {
      "name": "コンテンツヘッダー"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
