@charset "UTF-8";
:root {
  /* ------------------------- container幅 -- */
  --my-custom-theme__container-width: 120rem;
  /* ------------------------- セクションの間隔 -- */
  --my-custom-theme__section-spacing: 8rem;
  /* ------------------------- 文字 -- */
  --my-custom-theme__font-size: 1.4rem;
  --my-custom-theme__line-height: 1.75;
  --my-custom-theme__letter-spacing: 0.05em;
  /* ------------------------- 色 -- */
  --my-custom-theme__text-color: 0, 0, 0;
  --my-custom-theme__base-color: 255, 255, 255;
  --my-custom-theme__main-color: 0, 0, 0;
  --my-custom-theme__sub-color: 245, 222, 179;
  --my-custom-theme__accent-color: 198, 67, 70;
}

@media screen and (max-width: 768px) {
  :root {
    --my-custom-theme__section-spacing: 6.4rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --my-custom-theme__section-spacing: 3.6rem;
  }
}

* {
  word-break: break-word;
}

html {
  font-size: 0.625vw;
}

@media (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 2.65vw;
  }
}

*:not(html) {
  font-size: 1.4rem;
  color: #000000;
  line-height: 1.75;
  font-family: "Zen Old Mincho", serif;
}

::-moz-selection {
  background: #DCDEE3;
  color: #303338;
}

::selection {
  background: #DCDEE3;
  color: #303338;
}

::-webkit-input-placeholder {
  color: #cfcfcf;
}

:-ms-input-placeholder {
  color: #cfcfcf;
}

::-ms-input-placeholder {
  color: #cfcfcf;
}

::placeholder {
  color: #cfcfcf;
}

a[href^="tel:"] {
  pointer-events: none;
}

@media (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

img {
  width: 100%;
}

.container {
  max-width: calc(var(--my-custom-theme__container-width) + 3.2rem);
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

input,
textarea,
select {
  font-size: 1.6rem;
  line-height: 1.4;
  border-radius: 0.4rem;
  border: 0.1rem solid #000000;
  background-color: #FFFFFF;
  padding: 1.6rem;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
}

/*　--------------------- 共通見出し -- */
.common-heading01 {
  display: table;
  margin-bottom: 4rem;
}

@media screen and (max-width: 960px) {
  .common-heading01 {
    margin-bottom: 3.6rem;
  }
}

@media screen and (max-width: 768px) {
  .common-heading01 {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .common-heading01 {
    margin-bottom: 2.4rem;
  }
}

.common-heading01 .common-heading01__text01 {
  color: rgba(var(--my-custom-theme__accent-color), 1);
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
  display: table;
  position: relative;
  z-index: 0;
}

.common-heading01 .common-heading01__text01::before {
  content: "";
  width: 0.1rem;
  height: calc(100% - 0.2rem);
  background-color: rgba(var(--my-custom-theme__accent-color), 1);
  position: absolute;
  z-index: 0;
  top: 50%;
  right: -2rem;
  -webkit-transform: translate(100%, -50%) rotate(45deg);
          transform: translate(100%, -50%) rotate(45deg);
}

.common-heading01 .common-heading01__text02 {
  font-size: 4rem;
  line-height: 1.4;
}

@media screen and (max-width: 960px) {
  .common-heading01 .common-heading01__text02 {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 768px) {
  .common-heading01 .common-heading01__text02 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 480px) {
  .common-heading01 .common-heading01__text02 {
    font-size: 2.4rem;
  }
}

/*　--------------------- 共通ボタン -- */
.common-button01 {
  color: #000000;
  font-size: 2rem;
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
  min-width: 20rem;
  width: auto;
  background-color: #FFFFFF;
  padding: 1.6rem 2.4rem;
  border: solid 0.1rem #D0D0D0;
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .common-button01 {
    font-size: 1.6rem;
    min-width: 16rem;
    padding: 1.2rem 1.8rem;
  }
}
