.cost {
  background-image: url(../assets/dummy_800x500_gray.png);
  background-image: url(https://placehold.jp/383838/ffffff/1000x1000.png?text=dummy);
  background-size: cover;
  background-position: center;
  padding-top: var(--my-custom-theme__section-spacing);
  padding-bottom: var(--my-custom-theme__section-spacing);
}

.cost-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 14rem;
}

@media screen and (max-width: 1200px) {
  .cost-content {
    gap: 10rem;
  }
}

@media screen and (max-width: 960px) {
  .cost-content {
    gap: 6.4rem;
  }
}

@media screen and (max-width: 768px) {
  .cost-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.2rem;
  }
}

@media screen and (max-width: 768px) {
  .cost-content.container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.cost-content .common-heading01 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 0;
}

.cost-content .common-heading01 .common-heading01__text01,
.cost-content .common-heading01 .common-heading01__text02 {
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .cost-content .common-heading01 .common-heading01__text02 br.pc {
    display: none;
  }
}

.cost-content .cost-content__schedule {
  width: 100%;
}

.schedule-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 3.2rem;
  padding: 0.4rem 0;
  border-bottom: solid 0.1rem #FFFFFF;
}

.schedule-list:last-child {
  border-bottom: none;
}

.schedule-list dt,
.schedule-list dd * {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .schedule-list dt,
  .schedule-list dd * {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .schedule-list dt,
  .schedule-list dd * {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list dt,
  .schedule-list dd * {
    font-size: 1.6rem;
  }
}

.schedule-list dt {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 10rem;
}

@media screen and (max-width: 960px) {
  .schedule-list dt {
    width: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .schedule-list dt {
    width: 4.8rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list dt {
    width: 3.2rem;
    font-size: 1.6rem;
  }
}

.schedule-list dd {
  width: 100%;
}

.schedule-list dd .attention * {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .schedule-list dd .attention * {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list dd .attention * {
    font-size: 1.4rem;
  }
}

.schedule-list dd ul {
  list-style-type: disc;
  padding-left: 2.4rem;
}

.schedule-list dd ul li {
  color: #FFFFFF;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 768px) {
  .schedule-list dd ul li {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list dd ul li {
    font-size: 1.4rem;
  }
}

.schedule-list dd ul li:last-child {
  margin-bottom: 0;
}
