.timetable {
  padding-top: var(--my-custom-theme__section-spacing);
  padding-bottom: var(--my-custom-theme__section-spacing);
  background-color: #f5f5dc;
  background-image: url(../assets/lp-roasting-lesson__timetable-bg.png);
  background-size: cover;
}

.timetable-content.container {
  max-width: 96rem;
}

@media screen and (max-width: 768px) {
  .timetable-content.container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.timetable-content .common-heading01 {
  display: block;
  padding-bottom: 2.4rem;
  border-bottom: solid 0.1rem #000000;
}

.timetable-list {
  counter-reset: list-counter;
}

.timetable-list-item .timetable-list-item__heading {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}

@media screen and (max-width: 960px) {
  .timetable-list-item .timetable-list-item__heading {
    font-size: 2.4rem;
    gap: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .timetable-list-item .timetable-list-item__heading {
    font-size: 2rem;
    gap: 1.4rem;
  }
}

.timetable-list-item .timetable-list-item__heading::before {
  content: counter(list-counter, upper-roman);
  counter-increment: list-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: rgba(var(--my-custom-theme__text-color), 0.1);
}

@media screen and (max-width: 960px) {
  .timetable-list-item .timetable-list-item__heading::before {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .timetable-list-item .timetable-list-item__heading::before {
    font-size: 1.6rem;
    width: 3.6rem;
    height: 3.6rem;
  }
}

.timetable-list-item .timetable-list-item__content {
  padding-left: 20%;
}

@media screen and (max-width: 960px) {
  .timetable-list-item .timetable-list-item__content {
    padding-left: 14%;
  }
}

@media screen and (max-width: 768px) {
  .timetable-list-item .timetable-list-item__content {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .timetable-list-item .timetable-list-item__content {
    padding-left: 5rem;
  }
}

.timetable-list-item .timetable-list-item__content p {
  font-size: 1.8rem;
  line-height: 2;
}

@media screen and (max-width: 480px) {
  .timetable-list-item .timetable-list-item__content p {
    font-size: 1.6rem;
    line-height: 1.7;
  }
}

.timetable-list-item .timetable-list-item__content ol > li {
  font-size: 1.8rem;
  line-height: 2;
}
