@charset "utf-8";

.firstview {
	position: relative;
	z-index: 0;
	.firstview__image {
		img {

		}
	}
	.firstview__cta {
		position: absolute;
		z-index: 0;
		bottom: 0;
		right: 0;
		width: 36rem;
	}
}