.roast-school-form .roast-school-form__content {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

@media screen and (max-width: 768px) {
  .roast-school-form .roast-school-form__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .roast-school-form .roast-school-form__content {
    padding-top: var(--my-custom-theme__section-spacing);
    padding-bottom: var(--my-custom-theme__section-spacing);
  }
}

.roast-school-form-heading {
  background-image: url(../assets/lp-roasting-lesson__roast-school-form-heading-bg.webp);
  background-size: cover;
  background-position: center right;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

@media screen and (max-width: 768px) {
  .roast-school-form-heading {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
}

@media screen and (max-width: 480px) {
  .roast-school-form-heading {
    padding-top: var(--my-custom-theme__section-spacing);
    padding-bottom: var(--my-custom-theme__section-spacing);
  }
}

.roast-school-form-heading .container {
  max-width: 96rem;
}

.roast-school-form-heading .common-heading01 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 4.8rem;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .roast-school-form-heading .common-heading01 {
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }
}

.roast-school-form-heading .common-heading01 .common-heading01__text01 {
  order: 2;
}

.roast-school-form-heading .common-heading01 .common-heading01__text01::before {
  right: auto;
  left: -2.4rem;
  transform: translate(-100%, -50%) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .roast-school-form-heading .common-heading01 .common-heading01__text01::before {
    display: none;
  }
}

.roast-school-form-heading .common-heading01 .common-heading01__text02 {
  color: #FFFFFF;
  order: 1;
}

@media screen and (min-width: 768px) {
  .roast-school-form-heading .common-heading01 .common-heading01__text02 {
    font-size: 4.4rem;
    letter-spacing: 1rem;
  }
}

@media screen and (min-width: 960px) {
  .roast-school-form-heading .common-heading01 .common-heading01__text02 {
    font-size: 4.8rem;
    letter-spacing: 2rem;
  }
}

.roast-school-form-content {
  background-color: #f5f5f5;
}

.roast-school-form-content .container {
  max-width: 82rem;
}

@media screen and (max-width: 768px) {
  .roast-school-form-content .container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.roast-school-form-content .roast-school-form-content__description {
  margin-bottom: 3.2rem;
}

.roast-school-form-content .roast-school-form-content__description p {
  font-size: 2rem;
  line-height: 2.4;
}

@media screen and (max-width: 960px) {
  .roast-school-form-content .roast-school-form-content__description p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .roast-school-form-content .roast-school-form-content__description p {
    font-size: 1.6rem;
    line-height: 2;
  }
}

@media screen and (max-width: 480px) {
  .roast-school-form-content .roast-school-form-content__description p {
    line-height: 1.7;
  }
}

.contact-form .contact-form__item {
  margin-top: 1.4rem;
}

.contact-form .contact-form__item:first-child {
  margin-top: 0;
}

.contact-form .contact-form__item label {
  font-size: 1.8rem;
}

@media screen and (max-width: 960px) {
  .contact-form .contact-form__item label {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-form .contact-form__item label {
    font-size: 1.4rem;
  }
}

.contact-form .contact-form__item input,
.contact-form .contact-form__item textarea,
.contact-form .contact-form__item select {
  border: none;
  background-color: #F0F0F0;
  border-radius: 0;
}

.contact-form button[type=submit] {
  margin-top: 4.2rem !important;
}
