.about {
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
  z-index: 0;
}

.about::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../assets/dummy_800x500_gray.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.about-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 0;
  margin-bottom: 8rem;
}

@media screen and (max-width: 1400px) {
  .about-overview {
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 960px) {
  .about-overview {
    margin-bottom: 6.4rem;
  }
}

@media screen and (max-width: 768px) {
  .about-overview {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .about-overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
    margin-bottom: 2.4rem;
  }
}

.about-overview .about-overview__image {
  width: 85rem;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  left: calc((100vw - var(--my-custom-theme__container-width))/2);
  -webkit-transform: translate(-44%, 0);
          transform: translate(-44%, 0);
}

@media screen and (max-width: 1400px) {
  .about-overview .about-overview__image {
    width: 66%;
    left: 0;
    -webkit-transform: translate(-18%);
            transform: translate(-18%);
  }
}

@media screen and (max-width: 1200px) {
  .about-overview .about-overview__image {
    width: 66%;
    left: 0;
    -webkit-transform: translate(-18%);
            transform: translate(-18%);
  }
}

@media screen and (max-width: 960px) {
  .about-overview .about-overview__image {
    width: 47%;
    left: 0;
    -webkit-transform: translate(-8%);
            transform: translate(-8%);
  }
}

@media screen and (max-width: 480px) {
  .about-overview .about-overview__image {
    width: 86%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: static;
    -webkit-transform: translate(-1.6rem, 0);
            transform: translate(-1.6rem, 0);
  }
}

.about-overview .about-overview__image img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
  width: 100%;
  height: 100%;
}

.about-overview .about-overview__text {
  width: 38%;
  max-width: 46rem;
}

@media screen and (max-width: 1400px) {
  .about-overview .about-overview__text {
    width: 42%;
  }
}

@media screen and (max-width: 1200px) {
  .about-overview .about-overview__text {
    width: 42%;
  }
}

@media screen and (max-width: 960px) {
  .about-overview .about-overview__text {
    width: 52%;
  }
}

@media screen and (max-width: 480px) {
  .about-overview .about-overview__text {
    width: calc(86% - 1.6rem);
    padding-left: 1.6rem;
  }
}

.about-overview-text > li {
  font-size: 2.4rem;
  padding: 2rem 0;
  border-bottom: solid 0.1rem #000000;
}

.about-overview-text > li:first-child {
  padding-top: 0;
}

.about-overview-text > li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

@media screen and (max-width: 960px) {
  .about-overview-text > li {
    font-size: 2rem;
    padding: 1.6rem 0;
  }
}

@media screen and (max-width: 768px) {
  .about-overview-text > li {
    font-size: 1.8rem;
    padding: 1.4rem 0;
  }
}

@media screen and (max-width: 480px) {
  .about-overview-text > li {
    font-size: 1.4rem;
  }
}

.about-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8rem;
}

@media screen and (max-width: 1400px) {
  .about-detail {
    gap: 8rem;
  }
}

@media screen and (max-width: 1200px) {
  .about-detail {
    gap: 5.6rem;
  }
}

@media screen and (max-width: 960px) {
  .about-detail {
    gap: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .about-detail {
    gap: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  .about-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.8rem;
  }
}

.about-detail .about-detail__text {
  width: 100%;
}

.about-detail .about-detail__text p {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.about-detail .about-detail__text p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  .about-detail .about-detail__text p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .about-detail .about-detail__text p {
    font-size: 1.6rem;
  }
}

.about-detail .about-detail__text p span {
  font: inherit;
  line-height: inherit;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(94%, transparent), color-stop(0%, red));
  background: linear-gradient(transparent 94%, red 0%);
  display: inline;
}

.about-detail .about-detail__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32%;
}

@media screen and (max-width: 768px) {
  .about-detail .about-detail__image {
    width: 24%;
  }
}

@media screen and (max-width: 480px) {
  .about-detail .about-detail__image {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 32%;
  }
}
