.cost {
  background-image: url(../assets/lp-roasting-lesson__cost-bg.webp);
  background-size: cover;
  background-position: center;
  padding-top: var(--my-custom-theme__section-spacing);
  padding-bottom: var(--my-custom-theme__section-spacing);
}

@media screen and (max-width: 768px) {
  .cost {
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 480px) {
  .cost {
    padding-bottom: 6.4rem;
  }
}

.cost-content {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 14rem;
}

@media screen and (max-width: 1200px) {
  .cost-content {
    gap: 10rem;
  }
}

@media screen and (max-width: 960px) {
  .cost-content {
    gap: 6.4rem;
  }
}

@media screen and (max-width: 768px) {
  .cost-content {
    flex-direction: column;
    gap: 3.2rem;
  }
}

@media screen and (max-width: 768px) {
  .cost-content.container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .cost-content.container {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
}

.cost-content .common-heading01 {
  flex-shrink: 0;
  margin-bottom: 0;
}

.cost-content .common-heading01 .common-heading01__text01,
.cost-content .common-heading01 .common-heading01__text02 {
  color: #FFFFFF;
}

.cost-content .common-heading01 .common-heading01__text01::before {
  background-color: #FFFFFF;
}

.cost-content .common-heading01 .common-heading01__text02 {
  font-size: var(--common-heading01__text02-font-size--large);
  letter-spacing: 0.8rem;
}

.cost-content .cost-content__schedule {
  width: 100%;
}

.schedule-list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 3.2rem;
  padding: 1rem 0 1rem 0.8rem;
  border-bottom: solid 0.1rem #FFFFFF;
}

.schedule-list:first-child {
  padding-top: 0;
}

.schedule-list:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

@media screen and (max-width: 960px) {
  .schedule-list {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .schedule-list {
    padding: 0.8rem 0 0.8rem 0.4rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list {
    gap: 0;
  }
}

.schedule-list dt,
.schedule-list dd * {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .schedule-list dt,
  .schedule-list dd * {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .schedule-list dt,
  .schedule-list dd * {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list dt,
  .schedule-list dd * {
    font-size: 1.4rem;
  }
}

.schedule-list dt {
  letter-spacing: 2.4rem;
  flex-shrink: 0;
  width: 10rem;
}

@media screen and (max-width: 960px) {
  .schedule-list dt {
    width: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .schedule-list dt {
    letter-spacing: 1.8rem;
    width: 8.8rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list dt {
    letter-spacing: 1.6rem;
    width: 7.2rem;
  }
}

.schedule-list dd {
  width: 100%;
}

.schedule-list dd * {
  letter-spacing: 0.4rem;
}

@media screen and (max-width: 960px) {
  .schedule-list dd * {
    letter-spacing: 0.2rem;
  }
}

.schedule-list dd .attention * {
  font-size: 2rem;
}

@media screen and (max-width: 960px) {
  .schedule-list dd .attention * {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .schedule-list dd .attention * {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list dd .attention * {
    font-size: 1rem;
  }
}

.schedule-list dd ul {
  list-style-type: disc;
  padding-left: 2.4rem;
}

.schedule-list dd ul li {
  color: #FFFFFF;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 960px) {
  .schedule-list dd ul li {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .schedule-list dd ul li {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .schedule-list dd ul li {
    font-size: 1rem;
  }
}

.schedule-list dd ul li:last-child {
  margin-bottom: 0;
}
