.course {
  padding-top: var(--my-custom-theme__section-spacing);
  padding-bottom: var(--my-custom-theme__section-spacing);
  background-color: #000000;
}

.course-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15rem;
}

@media screen and (max-width: 1200px) {
  .course-content {
    gap: 7%;
  }
}

@media screen and (max-width: 960px) {
  .course-content {
    gap: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .course-content {
    gap: 5.2rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .course-content.container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.course-content .course-content__image {
  flex-shrink: 0;
  width: 40%;
}

@media screen and (max-width: 960px) {
  .course-content .course-content__image {
    width: 38%;
  }
}

@media screen and (max-width: 768px) {
  .course-content .course-content__image {
    order: 2;
    width: 100%;
    max-width: 48rem;
  }
}

.course-content .course-content__text {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .course-content .course-content__text {
    order: 1;
  }
}

.course-content-text .common-heading01 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 4.8rem;
}

@media screen and (max-width: 768px) {
  .course-content-text .common-heading01 {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.course-content-text .common-heading01 .common-heading01__text01 {
  order: 2;
}

.course-content-text .common-heading01 .common-heading01__text01::before {
  right: auto;
  left: -2.4rem;
  transform: translate(-100%, -50%) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .course-content-text .common-heading01 .common-heading01__text01::before {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%) rotate(45deg);
  }
}

.course-content-text .common-heading01 .common-heading01__text02 {
  color: #FFFFFF;
  font-size: var(--common-heading01__text02-font-size--large);
  order: 1;
}

.course-content-text .course-content-text__list {
  margin-bottom: 2.8rem;
}

@media screen and (max-width: 480px) {
  .course-content-text .course-content-text__list {
    margin-bottom: 3.2rem;
  }
}

.course-content-text .course-content-text__credentials > img {
  margin-bottom: 0.8rem;
}

.course-content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  gap: 2.8rem;
  counter-reset: number;
}

@media screen and (max-width: 480px) {
  .course-content-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.course-content-list > li {
  font-size: 2.4rem;
  line-height: 1.4;
  position: relative;
  z-index: 0;
  padding: 1.6rem 1.6rem 2.4rem;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

@media screen and (max-width: 1200px) {
  .course-content-list > li {
    font-size: 2rem;
    padding: 1.4rem 1.4rem 2rem;
  }
}

@media screen and (max-width: 960px) {
  .course-content-list > li {
    padding: 1.2rem 1.2rem 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .course-content-list > li {
    font-size: 3.4vw;
  }
}

@media screen and (max-width: 480px) {
  .course-content-list > li {
    font-size: 1.8rem;
  }
}

.course-content-list > li::before {
  content: counter(number, decimal-leading-zero);
  counter-increment: number;
  color: var(--my-custom-theme__accent-colorCode);
  font-size: 3.2rem;
  display: block;
}

@media screen and (max-width: 1200px) {
  .course-content-list > li::before {
    font-size: 2.8rem;
  }
}

.course-content-list > li::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.6rem;
  border-color: var(--my-custom-theme__accent-colorCode) transparent transparent var(--my-custom-theme__accent-colorCode);
}

@media screen and (max-width: 768px) {
  .course-content-list > li::after {
    border-width: 1.2rem;
  }
}

.course-content-credentials p {
  color: #FFFFFF;
  font-size: 1.2rem;
  display: table;
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .course-content-credentials p {
    font-size: 1rem;
  }
}
