.header {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;
}

.header-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navi .header-navi__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 28rem;
}

@media screen and (max-width: 960px) {
  .header-navi .header-navi__logo {
    width: 17rem;
  }
}

@media screen and (max-width: 480px) {
  .header-navi .header-navi__logo {
    width: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .header-navi .header-navi__menu {
    display: none;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .header-menu__item {
  position: relative;
  z-index: 0;
}

.header-menu .header-menu__item::before {
  content: "";
  display: block;
  width: 0.1rem;
  height: calc(100% - 0.2rem);
  background-color: #FFFFFF;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media screen and (max-width: 768px) {
  .header-menu .header-menu__item::before {
    display: none;
  }
}

.header-menu .header-menu__item:first-child::before {
  display: none;
}

.header-menu .header-menu__item a {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 0.4rem 2rem;
}

@media screen and (max-width: 960px) {
  .header-menu .header-menu__item a {
    padding: 0.4rem 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .header-menu .header-menu__item a {
    padding: 0;
  }
}
