@charset "utf-8";

.custom-lesson-list {
	/* margin-top: var(--margin-section);
	margin-bottom: var(--margin-section); */
}

.custom-lesson-list__list {
	display: flex;
	flex-direction: column;
	gap: var(--margin-section);
}
.custom-lesson-list__list li {

}

.custom-lesson-list__inner {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	gap: 20px;
}

.custom-lesson-list__image {
	width: 50%;
}

.custom-lesson-list__content {
	width: 50%;
}
.custom-lesson-list__title {
	font-size: var(--font-m);
}
.custom-lesson-list__price {
}
.custom-lesson-list__date {
	color: #FFFFFF;
	background-color: rgb(var(--color-gray));
	padding: var(--margin-s) var(--margin-l);
	display: inline-block;
}
.custom-lesson-list__description p {
	font-size: var(--font-s);
}

.custom-lesson-list__detail {
	margin-top: var(--margin-xl);
	padding: var(--margin-xl) 0;
	background-color: #F5F5F5;
}
.custom-lesson-list__detail-inner {
	display: flex;
	gap: var(--margin-xl);
}
.custom-lesson-list__detail-content {
	width: 50%;
}
.custom-lesson-list__detail-content h4 {
	color: rgb(var(--color-primary));
	font-size: var(--font-s);
	font-weight: bold;
	margin-bottom: 1em;
}
.custom-lesson-list__detail-content p {
	font-size: var(--font-s);
}