/* 今月のオススメコーヒー セクション専用CSS */
.section-featured-coffee-of-the-month {
  padding: 40px 0;
}
.section-featured-coffee-of-the-month .section-heading-wrapper {
  margin-bottom: 32px;
}
.section-featured-coffee-of-the-month .featured-coffee-content {
}
.section-featured-coffee-of-the-month .featured-coffee-products {
  display: flex;
  justify-content: center;
  gap: var(--margin-xl);
  flex-direction: column;
  margin-bottom: var(--margin-xl);
}
.section-featured-coffee-of-the-month .featured-coffee-product {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--margin-xl);
}
.section-featured-coffee-of-the-month .featured-coffee-product:nth-child(2n) {
  flex-direction: row-reverse;
}
.section-featured-coffee-of-the-month .featured-coffee-image {
  flex-shrink: 0;
  width: calc( (946 / 1540) * 100%);
}
.section-featured-coffee-of-the-month .featured-coffee-image img {
  width: 100%;
  vertical-align: middle;
}
.section-featured-coffee-of-the-month .featured-coffee-info {
  width: 100%;
}
.section-featured-coffee-of-the-month .recommend-title {
  color: rgb(var(--color-primary));
  font-weight: bold;
}
.section-featured-coffee-of-the-month .product-title {
  font-size: var(--font-l);
  font-weight: 700;
}
.section-featured-coffee-of-the-month .product-title::after {
  content: attr(data-sub_heading);
  font-size: var(--font-m);
	font-weight: 500;
	display: block;
}
.section-featured-coffee-of-the-month .product-description {
  margin-bottom: 12px;
}
.section-featured-coffee-of-the-month .product-price {
  font-size: var(--font-m);
  font-weight: bold;
  margin-bottom: 12px;
}
.section-featured-coffee-of-the-month .link {
  font-size: var(--font-xs) !important;
}
.section-featured-coffee-of-the-month .featured-coffee-buttons {
  display: flex;
  justify-content: center;
}