.section-custom-slideshow {
	padding-top: 0 !important;
	height: 42rem;
	max-height: 100vh;
	max-height: 100dvh;
	padding-bottom: var(--margin-section);
	overflow: hidden;
}
.section-custom-slideshow .custom-slideshow {
	height: 100%;
}
.section-custom-slideshow .custom-slideshow__container {
	height: 100%;
	overflow: visible;
}
.section-custom-slideshow .custom-slideshow__slide {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	position: relative;
	z-index: 0;
}
.section-custom-slideshow .custom-slideshow__slide:not([href]) {
	cursor: default;
}
.section-custom-slideshow .custom-slideshow__slide:hover {
	opacity: 1 !important;
}

.section-custom-slideshow .custom-slideshow__content {
	border-radius: var(--border-radius-box);
  padding: var(--margin);
  min-width: auto;
  width: 560px;
	position: absolute;
	z-index: 0;
	right: var(--margin);
	bottom: calc(var(--margin-section) * 2.5);
	transform: translate(0, 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--margin);
}
.section-custom-slideshow .custom-slideshow__content--left {
	right: auto;
	left: var(--margin);
	transform: translate(0, 100%);
}
.section-custom-slideshow .custom-slideshow__content--right {
	right: var(--margin);
	transform: translate(0, 100%);
}
.section-custom-slideshow .custom-slideshow__content--center {
	right: auto;
	left: 50%;
	transform: translate(-50%, 100%);
}
@media screen and (max-width: 768px) {
	.section-custom-slideshow .custom-slideshow__content {
		width: 100%;
		top: 0;
		bottom: 0;
		transform: translate(0, 0);
		right: 0;
		left: 0;
	}
}

.section-custom-slideshow .custom-slideshow__content-block {
	display: flex;
	flex-direction: column;
}

.section-custom-slideshow .custom-slideshow__line {
	font-size: var(--font-m);
	margin-top: 0;
}

.section-custom-slideshow .custom-slideshow__line p {
	font-size: var(--font-s);
}
.section-custom-slideshow .custom-slideshow__line h2 {
	font-size: var(--font-xl);
}
.section-custom-slideshow .custom-slideshow__line h3 {
	font-size: var(--font-l);
}
.section-custom-slideshow .custom-slideshow__line h4 {
	font-size: var(--font-m);
}
.section-custom-slideshow .custom-slideshow__line p,
.section-custom-slideshow .custom-slideshow__line h2,
.section-custom-slideshow .custom-slideshow__line h3,
.section-custom-slideshow .custom-slideshow__line h4 {
	color: inherit;
	margin-top: 0;
}
.section-custom-slideshow .custom-slideshow__line p *,
.section-custom-slideshow .custom-slideshow__line h2 *,
.section-custom-slideshow .custom-slideshow__line h3 *,
.section-custom-slideshow .custom-slideshow__line h4 * {
	color: inherit;
	margin-top: 0;
}

.section-custom-slideshow .custom-slideshow__button {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 328px;
}
.section-custom-slideshow .custom-slideshow__button:hover {
	opacity: 1 !important;
}
.section-custom-slideshow .custom-slideshow__button.button--secondary {
	background-color: #FFFFFF;
	color: rgb(var(--color-foreground));
}