.footer {
  background-color: #d5d5d5;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

@media screen and (max-width: 480px) {
  .footer {
    padding-top: var(--my-custom-theme__section-spacing);
    padding-bottom: var(--my-custom-theme__section-spacing);
  }
}

.footer .footer__logo {
  max-width: 40rem;
  display: table;
  margin: 0 auto 4rem;
}

@media screen and (max-width: 768px) {
  .footer .footer__logo {
    max-width: 24rem;
    margin-bottom: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  .footer .footer__logo {
    max-width: 15rem;
  }
}

.footer .footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 4rem;
}

@media screen and (max-width: 768px) {
  .footer .footer__menu {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.4rem;
  }
}

.footer .footer__menu > li {
  position: relative;
  z-index: 0;
}

.footer .footer__menu > li::before {
  content: "";
  display: block;
  width: 0.1rem;
  height: calc(100% - 0.2rem);
  background-color: #000000;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

@media screen and (max-width: 768px) {
  .footer .footer__menu > li::before {
    display: none;
  }
}

.footer .footer__menu > li:first-child::before {
  display: none;
}

.footer .footer__menu > li a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 0.4rem 2rem;
}

@media screen and (max-width: 768px) {
  .footer .footer__menu > li a {
    padding: 0;
  }
}

.footer .footer__copyright {
  font-size: 1.4rem;
  display: table;
  margin: 0 auto;
}
